
.spinner {

    width: 6.25rem;
    height: 6.25rem;
    border: 0.3125rem solid;
    border-color: var(--active) transparent;
    border-radius: 3.125rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {

    to {

        transform: rotate(360deg);

    }

}