

.tileContainer {

    display: flex;
    flex-direction: column;
    width: 18.125rem;
    align-items: flex-start;
}

.imageContainer {

    margin-bottom: 3.25rem;
}

.titleContainer {

    margin-bottom: 3.3125rem;
}

.title {

    font-weight: 700;
    font-size: 1.5rem;
}

.text {

    font-size: 1.25rem;
}