

.servicesContainer {

    padding: 84px 85px;
}

.header {

    margin-top: 46px;
    margin-bottom: 54px;
    width: 81.6%;
}

.heading {

    font-size: 48px;
    font-weight: 700;
}

.offeringsSection {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}